server:
  port: 9999
spring:
  application:
    name: template-eureka-server
  security:
    user:
      name: eurekaUser
      password: $EurekaUser$
#      password: EurekaUser2580
eureka:
  client:
    register-with-eureka: false # 由于该应用为注册中心,  所以设置为false, 代表不向注册中心注册自己
    fetch-registry: false       # 由于注册中心的职责就是维护服务实例, 它并不需要去检索服务, 所以也设置为 false
    service-url:
      defaultZone: http://eurekaUser:$EurekaUser$@121.5.211.53:9999/eureka/
#      defaultZone: http://eurekaUser:$EurekaUser$@127.0.0.1:9999/eureka/
  server:
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 50000
